<div class="jumbotron">
  <div class="container text-center">
    <h1>Algolabo</h1>
    <p>
      プログラミングの宇宙に飛び出そう<br>
      誰もが挫折することなく楽しくプログラミングを学べるように
    </p>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h2 class="page-header">
      algolaboは非エンジニアのためのプログラミング学習サイトです。
    </h2>
    <p>
      初めての起業の際に外注でサービスを作成したものの、費用もかけられなかったこともあり、満足のいくサイトを作成することができなかった。アイディアはあるけど技術がない、やる気はあるけどどう学んだらいいのかわからないという社会人・学生が必要な知識を楽しく挫折することなく学べるサービスにしたいと考えています。
    </p>
  </div>
  <div class="text-center">
    <h2 class="page-header">
      メンバー
    </h2>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/sample_member.jpg" class="img-responsive">
        <p>
          山田花子<br>
          <small>Hanako Yamada</small>
        </p>
        <p>
          Algolaboのサンプルメンバー代表です。プログラミングを教えることを生きがいに頑張っていきたいと思っています。応援よろしくお願いします。
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/sample_member.jpg" class="img-responsive">
        <p>
          山田花子<br>
          <small>Hanako Yamada</small>
        </p>        
        <p>
          Algolaboのサンプルメンバー代表です。プログラミングを教えることを生きがいに頑張っていきたいと思っています。応援よろしくお願いします。
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/sample_member.jpg" class="img-responsive">
        <p>
          山田花子<br>
          <small>Hanako Yamada</small>
        </p>
        <p>
          Algolaboのサンプルメンバー代表です。プログラミングを教えることを生きがいに頑張っていきたいと思っています。応援よろしくお願いします。
        </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h2 class="page-header">お知らせ</h2>
    <div class="row">
    <% @notices.each do |notice| %>
      <div class="col-md-4">
        <%= notice.created_at.strftime("%Y.%m.%d") %><br>
        <%= notice.title %>
      </div>
    <% end %>
    </div>
  </div>
  <!--
  <div class="text-center">
    <h2 class="page-header">お知らせ</h2>
    <div class="row">
      <div class="col-md-4">
        2016.4.5<br>
        ご利用人数が10人を超えました。
      </div>
      <div class="col-md-4">
        2016.4.4<br>
        サイトをオープンしました
      </div>
      <div class="col-md-4">
        2016.3.31<br>
        ベータ版をリリースしました。
      </div>
    </div>
  </div>
  -->
  <div class="text-center">
  <h2 class="page-header">About Us</h2>
    <div class="row">
      <div class="col-md-6">
        <p>Map</p>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8760515749404!2d139.70031026467163!3d35.6554253302004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b5a1850ee97%3A0x56c4cb49f373ba17!2z44CSMTUwLTAwMzEg5p2x5Lqs6YO95riL6LC35Yy65qGc5LiY55S677yY4oiS77yR77yXIOOCt-ODo-ODrOODvOa4i-iwt--8oeajnw!5e0!3m2!1sja!2sjp!4v1459727433015" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="embed-responsive-item"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <p>会社概要</p>
        <table class="table">
          <tr>
            <td>会社名</td>
            <td>algolabo株式会社</td>
          </tr>
          <tr>
            <td>所在地</td>
            <td>東京都渋谷区桜ヶ丘8-17シャレー渋谷B棟614</td>
          </tr>
          <tr>
            <td>資本金</td>
            <td>100万円</td>
          </tr>
          <tr>
            <td>代表者名</td>
            <td>山田花子</td>
          </tr>
          <tr>
            <td>サービス内容</td>
            <td>
              Webサービス「algolabo」の運営<br>
              サイト開発コンサルティング<br>
              エンジニア人材の育成<br>
              エンジニア人材の紹介
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>