/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 50px;
}

header.jumbotron {
  background-image: url("https://lh3.googleusercontent.com/5i3osFp1MECDZm5-Itikof-ZUe1wuTsAiQB8ldm-q94rxW0hH5Tfr5uv2v5lFiY6YL9rB2xQuK6bc4Txi7fHFjl0LCeyKsxy8_nBXC447m19w3PterWvn3PwZ7vH8-hTgekL2kd7Qrhqs7mBNtA-p5NNtS6FWdm5uHZxHneo7PePi3mqdnTQ9HDy2YxDF82IQrp64KlqypzZHcp90SkkI7eYnQA-r72vreGYIGIvTvihzW90aqSSeoAygJrt7xmkbJOvw5TKqkVZlt7wR1Jh-urW14gLsnSaxdHP2RkvQ-UQ8HrCj32bsU3iJ4dST-Rc-4AoxkAR0zplHuYDjME-YCbL7LbtjrIpVK_ENNaXoz8tqIXd3xPctmYZpxogJThNlGt4n5mBLuU73HGSo4sikt6ftovbqD5yNBD4X_BQTUQw-Wra6-4mmTi1DgQz_GQXhrdAkRofwL02zC1TP4hjBg2zoIZixidK9yuOzpaEwA5jGAvUBtTXEqR5kUQJ8eNmu_91WwrIyhIVXbpdzMN75bT2uerl7NBkBUBRCC4_z7cNBdU0-jeEB9_eiUb0gNOLU-Rk=w1500-h1059-no");
  background-position: center center;
  background-size: cover;
  color: #fff;
}

footer {
  margin-top: 20px;
  min-height: 100px;
  background-color: #222;
  color: #fff;
  position: relative;
}

footer .copyright {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}