<!DOCTYPE html>
<html>
<head>
  <title>Demohp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">algolabo</a>
      </div>
    </div>
  </nav>
  <%= yield %>
  <footer>
    <div class="container">
      <div class="copyright">
        Copyright © 2016- algolabo All rights reserved.
      </div>
    </div>
  </footer>
</body>
</html>
